.feedback-poll button {
  margin: 5px;
  padding: 8px 12px;
  background: rgb(49, 49, 221);
  color: white;
  border: none;
  cursor: pointer;
}

.feedback-poll button:hover {
  background: darkblue;
}
